body{
  font-family: 'Germania One', cursive;
  background-color: black;
  color: orange;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

#hangman {
  width: auto;
  height: 500px;
}

#heading {
  margin: 20px;
}

#gameArea {
  border: 5px solid orange;
}
